{% extends "base.html" %}
{% load static %}
{% block title %}School Supplier{% endblock %}
{% block content %}

<h1>About us</h1>
<p>At School Supplier, we are a one-stop shop that ensures you spend less time sourcing goods for your school. We manufacture and source quality, unique, and above all else excellent value products direct from the manufacturer to fit the needs of the education sector. 

    We pride ourselves on building relationships with schools to provide help and support in the best way possible, whether that be through our bespoke designs, or striving to find the most cost-effective solution to guarantee you the best deal. Our customers love the service and relationship they get from us, and the extra mile staff go to look after you. 
    
    School Supplier is the newest venture from Card Dispenser UK, who have been operating for over 30 years successfully supplying lanyards, Visitor Management systems and promotional goods for a wide range of sectors. While we may be the newest addition to the Card Dispenser family, we are by no means lacking in experience! Find out more about School Supplier and meet the team below/here. </p>
<hr>

<h1>Meet The Team</h1>
<p>Our customers love the service and relationship they get from us, and the extra mile staff go to look after you. Find out more about us below!</p>
{% end block %}